In [6]:
# pd.read_csv() 使⽤用預設參參數 
import pandas as pd

csv_url = "https://storage.googleapis.com/ds_data_import/chicago_bulls_1995_1996.csv" 
csv_df = pd.read_csv(csv_url) 
csv_df

# pd.read_csv() ⾃自⾏行行指定變數的名稱 
import pandas as pd
csv_url = "https://storage.googleapis.com/ds_data_import/chicago_bulls_1995_1996.csv" 
csv_df = pd.read_csv(csv_url, header=None, skiprows=1, names=['number', 'player', 'pos', 'ht', 'wt', 'birth_date', 'college']) 
csv_df

,number,player,pos,ht,wt,birth_date,college
0,0,Randy Brown,PG,6-2,190,"May 22, 1968","University of Houston, New Mexico State Univer..."
1,30,Jud Buechler,SF,6-6,220,"June 19, 1968",University of Arizona
2,35,Jason Caffey,PF,6-8,255,"June 12, 1973",University of Alabama
3,53,James Edwards,C,7-0,225,"November 22, 1955",University of Washington
4,54,Jack Haley,C,6-10,240,"January 27, 1964","University of California, Los Angeles"
5,9,Ron Harper,PG,6-6,185,"January 20, 1964",Miami University
6,23,Michael Jordan,SG,6-6,195,"February 17, 1963",University of North Carolina
7,25,Steve Kerr,PG,6-3,175,"September 27, 1965",University of Arizona
8,7,Toni Kukoc,SF,6-10,192,"September 18, 1968",NaN
9,13,Luc Longley,C,7-2,265,"January 19, 1969",University of New Mexico
10,33,Scottie Pippen,SF,6-8,210,"September 25, 1965",University of Central Arkansas
11,91,Dennis Rodman,PF,6-7,210,"May 13, 1961",Southeastern Oklahoma State University
12,22,John Salley,PF,6-11,230,"May 16, 1964",Georgia Institute of Technology
13,8,Dickey Simpkins,PF,6-9,248,"April 6, 1972",Providence College
14,34,Bill Wennington,C,7-0,245,"April 26, 1963",St. John's University

In [7]:
# read.csv() 使⽤用預設參參數 
csv_url <- "https://storage.googleapis.com/ds_data_import/chicago_bulls_1995_1996.csv" 
csv_df <- read.csv(csv_url) 
View(csv_df)

# read.csv() ⾃自⾏行行指定變數的名稱 
csv_url <- "https://storage.googleapis.com/ds_data_import/chicago_bulls_1995_1996.csv" 
csv_df <- read.csv(csv_url, skip = 1, header = FALSE, col.names = c('number', 'player', 'pos', 'ht', 'wt', 'birth_date', 'college')) 
View(csv_df)

SyntaxError: keyword can't be an expression (<ipython-input-7-c75883c1f816>, line 8)

In [10]:
# JSON 檔案儲存在雲端 
from requests import get

json_url = 'https://storage.googleapis.com/ds_data_import/chicago_bulls_1995_1996.json' 
chicago_bulls_dict = get(json_url).json() 
print(type(chicago_bulls_dict)) 
chicago_bulls_dict

# 計算勝率或者從先發陣容中選出喜歡的球員 
winning_percentage = chicago_bulls_dict["records"]["wins"] / (chicago_bulls_dict["records"]["wins"] + chicago_bulls_dict["records"]["losses"]) 
fav_player = chicago_bulls_dict["starting_lineups"]["SG"] 
print("勝率為 {:.2f}".format(winning_percentage)) 
print("喜歡的球員是 {}".format(fav_player))

<class 'dict'>
勝率為 0.88
喜歡的球員是 Michael Jordan

In [11]:
# 使⽤用 json 套件的 loads() ⽅方法來來載入 json 在雲端的檔案

import urllib.request 
import json

url = "https://storage.googleapis.com/intro-2-py-ds/data/ch9/friends.json" 
with urllib.request.urlopen(url) as json_url:    
    friends_dict = json.loads(json_url.read().decode())
    
print("六⼈人⾏行行有 %i 季" % friends_dict["seasons"]) 
for character, star in zip(friends_dict["characters"], friends_dict["stars"]):    
    print("%s 由 %s 飾演" % (character, star))

六⼈人⾏行行有 10 季
Rachel Green 由 Jennifer Aniston 飾演
Monica Geller 由 Courteney Cox 飾演
Phoebe Buffay 由 Lisa Kudrow 飾演
Joey Tribbiani 由 Matt LeBlanc 飾演
Chandler Bing 由 Matthew Perry 飾演
Ross Geller 由 David Schwimmer 飾演

In [12]:
def func(a,b,c):
    x = a + b + c
    return x

print(func(1,2,3))
print(func(c=3,b=2,a=1))
print(1,2,3)
print(a=1,b=2,c=3)

6
6
1 2 3

TypeError: 'a' is an invalid keyword argument for this function

In [14]:

import math # 要使⽤用圓周率 pi 得引入套件 math


def circle_area(r):
    
    '輸入半徑長度可以計算出圓⾯面積'
    
    return math.pi * r ** 2

print circle_area(3)

SyntaxError: invalid syntax (<ipython-input-14-df9bd572b6a3>, line 11)

In [15]:

import math # 要使⽤用圓周率 pi 得引入套件 math

def circle_circum(r):
    
    '輸入半徑長度可以計算出圓周長'
    
    return 2 * math.pi * r


print circle_circum(3)

SyntaxError: invalid syntax (<ipython-input-15-4bc0f918bafa>, line 11)

In [16]:
def my_squared(x):
    ans = x ** 2 # ans 是⼀一個區域變數
    return ans
print ans # 在函數外沒有 ans

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(ans # 在函數外沒有 ans)? (<ipython-input-16-a6d192836a61>, line 4)

In [ ]:
ans = 0 # ans 是⼀一個全域變數
def my_squared(x):
    ans = x ** 2 # ans 是⼀一個區域變數
    return ans
print my_squared(3) # 區域變數 ans 的值是 9
print ans # 全域變數 ans 的值是 0